:root{
    --clr-neutral-gray: rgba(230, 230, 230, 0.733);
    --clr-lte-gray: rgb(182, 180, 180);
    --clr-dark-gray: rgb(51,51,51);
    --clr-dark-org: rgb(241, 90, 36);
    --clr-lte-org: rgb(247,147,30);
}

*, 
*::before, 
*::after{
 box-sizing: border-box;
}

body{
    /* display: grid; */
    /* min-height: 100vh; */
    
    font-family: sans-serif;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    padding: 2px;
    
}

nav{
    padding: 10px;
    letter-spacing: 7px;
}
.links{
    display: flex;
    justify-content: space-around;
}
.header{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* padding: 0px; */
}
.your-pick{
    color: var(--clr-dark-org);
    font-size: 200px;
    font-family: niagara, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* border: solid yellow 1px; */
    position: relative;
}
.your-pick::before{
    content:"";
    position: absolute;
    top: 270px;
    left: 20px;
    right: 20px;
    bottom: 330px;
    z-index: -1;
    border-radius: 10px;
    background-color: var(--clr-neutral-gray);
}
.your-pick::after{
    content: "";
    border:solid rgba(230, 230, 230, 0.651) 1px;
    top: 75%;
    left: 30%;
    right: 30%;
    position: absolute;
}
.sub-title{
    animation-name: subtitle;
    animation-duration: 4s;
}
@keyframes subtitle {
    from { right:0px;}

    to { left:0px;}
    
}
.sub-head{
    color: var(--clr-lte-gray);
    letter-spacing: 18px;
    font-family: niagara, sans-serif;
    font-weight: 50;
    font-style: normal;
    font-size: 20px;
    display: block;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}
.book-now{
    display: block;
    font-family: niagara;
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
    color: var(--clr-lte-gray);
    background-color: white;
    border-radius: 40px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* position: absolute; */
    left: 0px;
    right:0;
    bottom: 0;
    cursor: pointer;
}
.banner{
    text-align: center;
    background-color: var(--clr-neutral-gray);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px;

}
.now-serving{
    font-size: 250px;
    font-family: niagara;
    letter-spacing: 25px;
    
    color: var(--clr-lte-gray);
}
.book-now a{
    font-size: 40px;
    color: var(--clr-dark-org);
}
.book-now a:hover{
    color: black;
    /* transform: scaleX(.4); */
}
.card{
    position: relative;
    /* border: solid var(--clr-lte-gray) 2px; */
    border-radius: 30px;
    margin-bottom: 10vh;
    padding: 20px;
    padding-top: 60px;
    padding-right: 70px;
    padding-left: 50px;
    overflow: hidden;

}
.card::before{
    content: "";
    top:0;
    bottom:0;
    background-color: var(--clr-dark-org);
    left:0;
    right: 85%;
    border-radius: 30px;
    position: absolute;
    z-index: -1;
}
.card::after{
    content: "";
    position: absolute;
    border: solid var(--clr-neutral-gray) 2px;
    background-color: var(--clr-neutral-gray);
    opacity: .7;
    z-index: -1;
    border-radius: 20px;
    top: 40px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.card-title{
    font-size: 60px;
    font-family: niagara;
    letter-spacing: 7px;
}
.card-body{
    font-size: 30px;
    font-family: sans-serif;
    color: var(--clr-lte-gray);
    padding-left: 30%;
}
.card-body, .buy-now{
    text-align: end;
    
}
.buy-now{
    font-size: 40px;
    font-family: niagara;
    letter-spacing: 15px;
    position: relative;
}
.buy-now a{
    color: var(--clr-dark-org);
}
span .buy{
    color: var(--clr-dark-org);
}
.buy-now::before{
    content: "";
    position: absolute;
    left: 70%;
    right: 0;
    background-color: var(--clr-lte-gray);
    top:40%;
    bottom: 40%;
    z-index: -1;
}
.card-img{
    max-width: 10vw;
    float: left;
    margin-right: 50px;
    z-index: 2;
    
}
.contact-form{
    
    float: right;
    
}

a{
    text-decoration: none;
}
a{
    color: var(--clr-dark-gray);
}
a:hover{
    color: var(--clr-dark-org)
}
.head-imgs{
    position: relative;
    text-align: center;
}
.head-imgs::after{

    content: "";
    border: solid var(--clr-lte-gray) 2px;
    border-radius: 30px;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 0;
}
.img2{
    max-width: 45vw;
    max-height: 60vh;
    margin-left: 50px;
    margin-right: 50px;
}

.img1,.img3{
    max-width: 20vw;
    max-height: 60vh;
    opacity: .4;
}
.search-box{
    font-family: niagara;
    font-size: 50px;
    /* height: fit-content;
    overflow: hidden; */
    text-align: end;
    /* background-color: var(--clr-neutral-gray); */
    
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    color:var(--clr-dark-gray);
    letter-spacing: 15px;
}
.input{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    border: solid var(--clr-lte-gray) 1px;
    font-family: sans-serif;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
}
footer{
    text-align: end;
    color: var(--clr-dark-gray);
}

@media only screen and (max-width: 900px) {
    .your-pick{
        font-size: 850%;
    }
    .sub-head{
        top: 80%;
    }
    .your-pick::after, .your-pick::before{
        display: none;
    }
    .img1, .img2, .img3{
        max-width: 90vw;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .img1, .img3{
        display: none;
    }
    .now-serving{
        font-size: 80px;
    }
    .book-now{
        width: 30vw;
        font-size: 2px !important;
        text-align: center;
    }
    .banner{
        font-size: 5px;
    }
    .card-title{
        font-size: 30px;
        margin-left: 80px;
    }
    .card-body, .buy-now{
        font-size: 20px;
    }
    .card-img{
        display: none;
    }
    .head-imgs::after{
        top: 0;
        bottom: 0;
    }
    
}
